body,div,table{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-size:100% 100%;
  background-repeat:no-repeat;
}
.lianlian-container{
  overflow: hidden;
}

.lianlian-table{
  box-shadow: 10px 10px 25px rgba(30,30,30,0.8);
}

.lianlian-td{
  margin: 0;
  padding: 0;
}

.lianlian-tr{
  margin: 0;
  padding: 0;
}

.lianlian-td:active{
  opacity: 0.6;
}

.lianlian-grid{
  position: relative;
  border-radius: 10px;
  border: 2px solid #999;
  z-index: 1;
  /*transition: 0.3s all ease-in-out;*/
  /*-webkit-transition: 0.3s all ease-in-out;*/
}

.lianlian-table .lianlian-grid-selected{
  opacity: 1;
  border: 2px solid #fff;
  box-shadow: 0 0 5px #000;
  z-index: 10;
  animation: r3d 0.1s ease-in-out infinite;
  -webkit-animation: r3d 0.1s ease-in-out infinite;
  -moz-animation: r3d 0.1s ease-in-out infinite;
  -o-animation: r3d 0.1s ease-in-out infinite;
}

.lianlian-title{
  background-size:100% 100%;
  text-align: center;
  vertical-align: middle;
  color: rgba(255,155,55,1);
  text-shadow: 2px 3px #fff;
  font-weight: bold;
}

.lianlian-pass{
  position: absolute;
  z-index: 100;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
}

.lianlian-slider{
  z-index: 1000000;
}

.lianlian-loading{
  height: 40px;
  line-height: 40px;
  left: 20%;
  width: 60%;
  bottom: 40px;
  text-align: center;
  border-radius: 10px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  box-shadow: 0px 1px 5px #9ff;
  text-shadow: 0px 0px 25px #9ff;
  animation: loading 1.5s ease-in-out infinite;
  -webkit-animation: loading 1.5s ease-in-out infinite;
  -moz-animation: loading 1.5s ease-in-out infinite;
  -o-animation: loading 1.5s ease-in-out infinite;
}
.lianlian-result-img{
  position: absolute;
  width: 80%;
  left: 10%
}

.lianlian-show{
  
}
@-webkit-keyframes r3d
{
    0% {
        -webkit-transform:rotate(0deg); /* Safari and Chrome */
        opacity: 1;
    }
    33% {
        -webkit-transform:rotate(8deg); /* Safari and Chrome */
        opacity: 0.9;
    }
    66% {
        -webkit-transform:rotate(-8deg); /* Safari and Chrome */
        opacity: 0.8;
    }
    100% {
        -webkit-transform:rotate(0deg); /* Safari and Chrome */
        opacity: 1;
    }
  }
@-moz-keyframes r3d
{
    0% {
        -moz-transform:rotate(0deg); /* Firefox */
        opacity: 1;
    }
    33% {
        -moz-transform:rotate(8deg); /* Firefox */
        opacity: 0.9;
    }
    66% {
        -moz-transform:rotate(-8deg); /* Firefox */
        opacity: 0.8;
    }
    100% {
        -moz-transform:rotate(0deg); /* Firefox */
        opacity: 1;
    }
  }
@-o-keyframes r3d
{
    0% {
        -o-transform:rotate(0deg); /* Opera */
        opacity: 1;
    }
    33% {
        -o-transform:rotate(8deg); /* Opera */
        opacity: 0.9;
    }
    66% {
        -o-transform:rotate(-8deg); /* Opera */
        opacity: 0.8;
    }
    100% {
        -o-transform:rotate(0deg); /* Opera */
        opacity: 1;
    }
  }
@keyframes r3d
{
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    33% {
        transform: rotate(8deg);
        opacity: 0.9;
    }
    66% {
        transform: rotate(-8deg);
        opacity: 0.8;
    }
    100% {
        transform: rotate(0deg);
        opacity: 1;
    }
  }




  @-webkit-keyframes loading
{
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
  }
@-moz-keyframes loading
{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
@-o-keyframes loading
{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
@keyframes loading
{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
