/* S global setting */
    html {
      font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    }
    h4 {font-weight: bold;}
    a {color: #555;}
	a:hover,a:focus{text-decoration: none;}
    /* E global setting */

    /* S header */
	.caption .panel{border:none;box-shadow:0 0px 0px rgba(0, 0, 0, 0.05);}
	.caption .panel-default > .panel-heading{background:none;border:none;}
	.caption .panel-heading{padding:10px 0px;}
	.thumbnail img{width:300px;height:200px; margin-top:15px;}
	
    .logo_lx { margin-top: -10px; margin-bottom: -8px; width: 54px; height: 35px;
    }
    .fleft {float: left;}
    .fright {float: right;}
    .clear {height: 0;
      clear: both;
      font-size: 0;
    }
    /* E header */

    /* S Carousel customize */
    .carousel, .carousel .item{
      height: 356px;
    }
    .carousel-inner > .item > img{
      height: 356px;
    }
    /* E Carousel customize */

    /* S thumbnail customize */
    .panel-body .thumbnail .caption {
      height: 240px;
      overflow-y: hidden;
      color: #555;
      position: relative;
    }
    .panel-body .thumbnail .refs {
      position: absolute;
      bottom: 10px;
    }
	.unselected {
      -moz-user-select:none;
      -webkit-user-select:none;
    }

    /* S thumbnail customize */
	
	
    /* change bootstrap-combined.no-icons css*/
    
    .navbar .nav>li>a {padding: 15px !important;text-shadow:0 1px 0 #FFFFFF;}
    .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus{box-shadow:0 3px 8px rgba(0, 0, 0, 0.125) inset}
	.navbar .btn, .navbar .btn-group{margin-top:0px}
	#edit .navbar-form{margin-top: 4px !important; margin-bottom: 4px !important;}
	#edit .navbar .btn{margin-top:5px;}
    .form-control {height: 34px !important;}
	.navbar .btn {
		-moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		background-color: #F5F5F5;
		background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
		background-repeat: repeat-x;
		border-color: #CCCCCC #CCCCCC #B3B3B3;
		border-image: none;
		border-radius: 4px;
		border-style: solid;
		border-width: 1px;
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
		color: #333333;
		cursor: pointer;
		font-size: 14px;
		line-height: 20px;
		padding: 4px 12px;
		text-align: center;
		text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
		vertical-align: middle;
	}
	.navbar .btn:hover, .navbar .btn:focus, .navbar .btn:active, .navbar .btn.active, .navbar .btn.disabled, .navbar .btn[disabled] {
    background-color: #E6E6E6;
    color: #333333;
	}
	.navbar .btn:hover, .btn:focus {
    background-position: 0 -15px;
    color: #333333;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
	}
	.navbar .btn:focus {
		outline: thin dotted #333333;
		outline-offset: -2px;
	}
	.navbar .btn.active, .btn:active {
		background-image: none;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
		outline: 0 none;
	}
	.navbar .btn.disabled, .btn[disabled] {
		background-image: none;
		box-shadow: none;
		cursor: default;
		opacity: 0.65;
	}
		.modal.fade {top: 0 !important;}
		.modal.fade.in {top: 0 !important;}
		.modal {
		  width: auto !important;
		  background-color: transparent;
		  margin-left: 0;
		  top: 0;
		  left: 0;
		}
	
	
