			.celebrity-list .celebrity-col{
        		padding:5px;
        	}
        	.celebrity-list .celebrity-item{
        		background:#cccccc;
        		border-radius: 5%;
        		height:auto;
        		padding:5px;
        	}
        	
        	.celebrity-list .celebrity-item table{
        		width:100%;
        	}
        	
        	.celebrity-list .more-item{
        		background-color:orange;
        		height:20px;
        		text-align:center;
        		cursor:pointer;
        	}
        	
        	.celebrity-list .celebrity-item .person-profile{
        		width:40%;
        	}
        	
        	.celebrity-list .celebrity-item .person-profile .person-photo{
        		height:60px;
        		width:60px;
        		margin:5px;
        		border-radius: 50%;
        		border:3px solid white;
        	}
        	
        	.celebrity-list .celebrity-item .person-profile .person-name{
        		color:#2a6496;
        		text-decoration: underline;
        		text-align:center;
        	}
        	
        	.celebrity-list .celebrity-item .person-score{
        		background-color:#ffffff;
        		margin:3px;
        		padding:2px;
        		border-radius:2px;
        		font-size:12px;
        	}
        	
        	.celebrity-list .celebrity-item .person-score table tr td{
        		color:orange;
				font-weight:bold;
				padding:2px;
        	}
        	
        	.celebrity-list .celebrity-item .person-score table tr td:first-child{
        		color:black;
        		
        	}
        	
        	.sort-list{
        		margin-top:80px;
        	}
        	
        	.tab-list .title{
        		height:40px;
        		font-weight:bold;
        		background-color:brown;
        		color:white;
        		padding-left:20px;
        		border-radius:5px 4px 0 0;
        	}
        	
        	.tab-list ul.head li {
    			width: 30%;
    			font-size:16px;
    			text-align:center;
			}
			
			.tab-list ul.footer{
    			border-radius: 0 0 5px 5px;
			}
			
			.tab-list .content{
				border-radius: 0 0 5px 5px;
			}
			
			.tab-list ul.list li {
    			width: 30%;
    			font-size:16px;
    			text-align:center;
    			
			}