/*!
 * @zhouningyi 201407
 */
.invest-sheet {
    position: absolute;
    top:110px;
    left: 2%;
    width: 96%;
}
.out{
  opacity: 0;
}
.in{
  opacity: 0.5;
}
.transition-fast {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.transition-slow {
    -webkit-transition: all .9s ease-in-out;
    -o-transition: all .9s ease-in-out;
    transition: all .9s ease-in-out;
}


.expand{
  width: 100%;
  background: #f00;
  overflow: hidden;
}

.tab {
  position: relative;
  overflow: hidden;
  left: 0%;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: #444;
  -webkit-font-smoothing: antialiased;
}

.tabs {
  position: relative;
  overflow: hidden;
  margin: 0px 0px;
  padding: 0px 0px;
  width: 100%;
  left: 0%;
  background: #fff;
}
.tabs li {
  float: left;
  overflow: hidden;
  padding: 0px 0px;
  margin: 0px 0px;
  position: relative;
  border: solid 1px rgb(255,150,0);
}
.tabs a {
  background-color: transparent;
  border-bottom: 0px solid #fff;
  color:  rgb(255,150,0);
  font-weight: bold;
  font-size: 20px;
  display: block;
  letter-spacing: 0;
  outline: none;
  height: 40px;
  line-height: 40px;
  padding: 0px 0px;
  margin: 0px 0px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.tabs_item {
  background: #fff;
  display: none;
  padding: 0px 0px;
  margin: 0px 0px;
  height: 100%;
}
.tab_content{
  top:0px;
  padding: 0px 0px;
  margin: 0px 0px;
  height: 100%;

}
.tabs_item h4{
  left: 40%;
  font-weight: bold;
  color: #87d3b7;
  font-size: 20px;
}
.tabs_item img {
  width: 150px;
  float: left;
  margin-left: 30px;
}
.tabs_item:first-child {
  display: block;
  height: 100%;
}

.current a {
  color: #fff;
  background: rgb(255,150,0);
}
.tabs_item_chart{
  top:0%;
  left: 0px;
  width:95%;
  height: 100%;
}
.tabs_item_text{
  /*position: absolute;*/
  background: #499;
  color:rgb(250,150,0);
  padding: 20px,0px;
  top:0%;
  left: 66.66%;
  width:33.333%;
  height: 100%;
}

.table-simple
{   position: relative;
    border-collapse: collapse;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
 }
.th-simple, .td-simple
 {
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
    width: 120px;
 }
 .th-simple
 {
    font-weight: bold;
    font-size: 18px;
 }   
