@charset "utf-8";
/* CSS Document */
ul,li{list-style:none;padding:0px;}
.icons{display:inline-block;background:url("../images/icons.png") no-repeat;}
.icon-add{width:12px;height:12px;background-position:0px 0px;}
.icon-more{width:18px;height:18px;background-position:0px -14px;}
.icon-up{width:18px;height:18px;background-position:0px -32px;}
.choice-group label{font-weight : normal;cursor:pointer;display:inline-block;padding-right:30px;}
.choice-group label.chosen{font-weight : bold;}
.sub-header{margin-bottom:20px;}
.sub-header ul{float:left;padding:0px;font-family:Microsoft YaHei;}
.sub-header li{float:left;padding-right:70px;}
.sub-header li a{display:inline-block;color:#959595;font-size:24px;padding-bottom:8px;text-decoration:none;}
.sub-header li a.selected{color:#000;border-bottom:2px solid #000;}
.sub-header p{font-size:14px;color:#232324;}
.search-link{color:#7d7d7d;font-family:Microsoft YaHei;}
.search-link .row{margin:0px;}
.search-link .category{margin-top:10px;background:#e6f8ff;padding:10px 0px;}
.search-link .industry{height:auto;overflow:hidden;}
.search-link .company{height:auto;overflow:hidden;}
.search-link h3{font-size:16px;text-align:center;color:#232324;font-weight:bold;margin:0px;}
.search-link .tag{position:relative;}
.search-link .tag a{display:inline-block;padding-right:40px;color:#7d7d7d;height:25px;line-height:25px;}
.search-link .tag a.success{color:#28bbf2;}
.search-link .tag .icon-more{position:absolute;top:5px;right:20px;cursor:pointer;}
.search-link .tag .icon-up{position:absolute;bottom:5px;right:20px;cursor:pointer;}
.rank-detail{height:120px;border:5px solid #ebebeb;margin-top:30px;font-family:Microsoft YaHei;}
.rank-detail .person-show{float:left;width:90px;height:90px;position:relative;}
.person-show img.person-photo{width:90px;height:90px;margin:0px;}
.person-show span.attention-num{ position:absolute;display:inline-block;left:0px;top:0px;height:25px;width:25px;background:#27718c;color:#fff;text-align:center;font-size:18px;}
.person-info{float:left;height:90px;padding-left:35px;padding-top:15px;width:700px;}
.person-info strong{display:inline-block;padding-right:25px;font-size:18px;color:#000;text-decoration: underline;}
.person-info span.attention-btn{display:inline-block;background:#28bbf2;color:#fff;width:70px;height:25px;border-radius:5px;font-weight:bold;line-height:25px;}
.person-info .info-list{margin-top:15px;}
.person-info .info-list li{display:inline-block;padding-right:20px;}
.person-info .info-list li .ranking-num{color:#eb504e;}

.clearfix{clear:both;}